<html >
    <head>
        <title>about us </title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    </head>
    <body style="background-color: brown" class="text-center">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-end">
        <div class="navbar-nav">
            <div class="navbar-nav">
                <a class="navbar-brand" href="/www.manit.ac.in">Manit</a>
              </div>
            <div class="navbar-nav">
            <a class="navbar-brand" href="/register">Register</a>
            </div>
          <div class="navbar-nav">
            <a class="navbar-brand" href="/signin">sign in</a>
          </div>
          </div>
        </nav>
         <p style="color: aliceblue;"><%-About%></p> 
</body>
</html>

